.suggestion-tile-container {
  position: relative;
  height: 200px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  flex: 1 0 150px;
  /* background-color: lightgray; */
  color: #fff;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.suggestion-tile-container .suggestion-tile-img {
  position: absolute;
  top: 0;
  border-radius: 5px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.suggestion-tile-container .suggestion-tile-details {
  z-index: 1;
  padding: 30px 5px 5px;
  border-radius: 0 0 5px 5px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  margin-top: auto;
  width: 100%;
  height: fit-content;
  /* display: flex;
  flex-direction: column;
  justify-content: end; */
}

.suggestion-tile-details .suggestion-tile-details-title {
  margin-bottom: 5px;
  display: flex;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.suggestion-tile-details .suggestion-tile-details-desc {
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
}

.suggestion-tile-container .suggestion-tile-buttons-container {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  gap: 5px;
  background-color: #00000060;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
}

.suggestion-tile-buttons-container:hover {
  opacity: 1;
}

.suggestion-tile-buttons-container .suggestion-tile-icon-button {
  display: flex;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0;
}

.suggestion-tile-buttons-container a {
  text-decoration: none;
}