.deck-container {
  background-color: #013242;
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.item-list {
  display: flex;
  flex-direction: column;
}

.suggestions-container {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
}
