.deck-container {
  background-color: #013242;
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.item-list {
  display: flex;
  flex-direction: column;
}

.suggestions-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  height: 200px;
}
